-- Creating report_collaborators table
-- This table implements the first part of the contractor integration plan
-- It allows multiple users to collaborate on a report with different permission levels

-- Check if the table already exists and drop it if it does (for idempotent migrations)
DROP TABLE IF EXISTS report_collaborators CASCADE;

-- Create the report_collaborators table
CREATE TABLE report_collaborators (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  report_id UUID NOT NULL REFERENCES reports(id) ON DELETE CASCADE,
  user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  role_type VARCHAR NOT NULL CHECK (role_type IN ('homeowner', 'contractor', 'adjuster', 'viewer')),
  permission_level VARCHAR NOT NULL CHECK (permission_level IN ('viewer', 'editor', 'manager')),
  invited_by UUID REFERENCES users(id),
  invitation_status VARCHAR NOT NULL CHECK (invitation_status IN ('pending', 'accepted', 'declined')),
  invitation_email VARCHAR,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(report_id, user_id)
);

-- Add indexes for faster querying
CREATE INDEX idx_report_collaborators_report_id ON report_collaborators(report_id);
CREATE INDEX idx_report_collaborators_user_id ON report_collaborators(user_id);
CREATE INDEX idx_report_collaborators_invitation_status ON report_collaborators(invitation_status);

-- Set up Row Level Security
ALTER TABLE report_collaborators ENABLE ROW LEVEL SECURITY;

-- Policies for report_collaborators table

-- Users can view collaborations they're part of
CREATE POLICY "Users can view their own collaborations"
  ON report_collaborators
  FOR SELECT
  USING (
    user_id = (SELECT id FROM users WHERE auth_user_id = auth.uid())
  );

-- Users can view all collaborations on reports they created
CREATE POLICY "Report creators can view all collaborations"
  ON report_collaborators
  FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM reports r
      JOIN users u ON r.creator_id = u.id
      WHERE r.id = report_collaborators.report_id
        AND u.auth_user_id = auth.uid()
    )
  );

-- Only report creators and managers can add collaborators
CREATE POLICY "Only report creators and managers can add collaborators"
  ON report_collaborators
  FOR INSERT
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM reports r
      JOIN users u ON r.creator_id = u.id
      WHERE r.id = report_collaborators.report_id
        AND u.auth_user_id = auth.uid()
    )
    OR
    EXISTS (
      SELECT 1 FROM report_collaborators rc
      JOIN users u ON rc.user_id = u.id
      WHERE rc.report_id = report_collaborators.report_id
        AND rc.permission_level = 'manager'
        AND u.auth_user_id = auth.uid()
        AND rc.invitation_status = 'accepted'
    )
  );

-- Only report creators and managers can update collaborator permissions
CREATE POLICY "Only report creators and managers can update collaborations"
  ON report_collaborators
  FOR UPDATE
  USING (
    EXISTS (
      SELECT 1 FROM reports r
      JOIN users u ON r.creator_id = u.id
      WHERE r.id = report_collaborators.report_id
        AND u.auth_user_id = auth.uid()
    )
    OR
    EXISTS (
      SELECT 1 FROM report_collaborators rc
      JOIN users u ON rc.user_id = u.id
      WHERE rc.report_id = report_collaborators.report_id
        AND rc.permission_level = 'manager'
        AND u.auth_user_id = auth.uid()
        AND rc.invitation_status = 'accepted'
    )
  );

-- Only report creators and managers can delete collaborations
CREATE POLICY "Only report creators and managers can remove collaborations"
  ON report_collaborators
  FOR DELETE
  USING (
    EXISTS (
      SELECT 1 FROM reports r
      JOIN users u ON r.creator_id = u.id
      WHERE r.id = report_collaborators.report_id
        AND u.auth_user_id = auth.uid()
    )
    OR
    EXISTS (
      SELECT 1 FROM report_collaborators rc
      JOIN users u ON rc.user_id = u.id
      WHERE rc.report_id = report_collaborators.report_id
        AND rc.permission_level = 'manager'
        AND u.auth_user_id = auth.uid()
        AND rc.invitation_status = 'accepted'
    )
  );

-- Add a trigger function to update the updated_at timestamp
CREATE OR REPLACE FUNCTION update_report_collaborators_updated_at()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER update_report_collaborators_updated_at
BEFORE UPDATE ON report_collaborators
FOR EACH ROW
EXECUTE FUNCTION update_report_collaborators_updated_at();

-- Add comment to explain the table
COMMENT ON TABLE report_collaborators IS 'Table for managing user collaborations on reports with permission levels';
