-- Enhancing contractor profiles with discovery fields
-- This implements the second part of the contractor integration plan
-- It extends the contractor_profiles table with fields needed for discovery and matching

-- Alternative approach to check if table exists without using DO block
CREATE OR REPLACE FUNCTION add_contractor_discovery_fields()
RETURNS void AS $$
BEGIN
  -- Check if the table exists first
  IF EXISTS (SELECT FROM information_schema.tables 
            WHERE table_schema = 'public' 
            AND table_name = 'contractor_profiles') THEN
            
    -- Enhance the contractor_profiles table with new fields
    -- Using ALTER TABLE to add columns one by one ensures we don't lose existing data
    
    -- Add service_areas as a text array if it doesn't exist
    BEGIN
      ALTER TABLE contractor_profiles ADD COLUMN IF NOT EXISTS service_areas TEXT[];
    EXCEPTION WHEN duplicate_column THEN
      -- Column already exists, do nothing
    END;
    
    -- Add specialties as a text array if it doesn't exist
    BEGIN
      IF NOT EXISTS (SELECT 1 FROM information_schema.columns 
                    WHERE table_schema = 'public' 
                    AND table_name = 'contractor_profiles'
                    AND column_name = 'specialties') THEN
        ALTER TABLE contractor_profiles ADD COLUMN specialties TEXT[];
      END IF;
    EXCEPTION WHEN duplicate_column THEN
      -- Column already exists, do nothing
    END;
    
    -- Add availability_status if it doesn't exist
    BEGIN
      ALTER TABLE contractor_profiles 
        ADD COLUMN IF NOT EXISTS availability_status VARCHAR DEFAULT 'available' 
        CHECK (availability_status IN ('available', 'busy', 'unavailable'));
    EXCEPTION WHEN duplicate_column THEN
      -- Column already exists, do nothing
    END;
    
    -- Add rating fields if they don't exist
    BEGIN
      IF NOT EXISTS (SELECT 1 FROM information_schema.columns 
                    WHERE table_schema = 'public' 
                    AND table_name = 'contractor_profiles'
                    AND column_name = 'rating') THEN
        ALTER TABLE contractor_profiles ADD COLUMN rating DECIMAL(3,2);
      END IF;
    EXCEPTION WHEN duplicate_column THEN
      -- Column already exists, do nothing
    END;
    
    BEGIN
      ALTER TABLE contractor_profiles ADD COLUMN IF NOT EXISTS rating_count INTEGER DEFAULT 0;
    EXCEPTION WHEN duplicate_column THEN
      -- Column already exists, do nothing
    END;
    
    -- Add search_radius if it doesn't exist
    BEGIN
      ALTER TABLE contractor_profiles ADD COLUMN IF NOT EXISTS search_radius INTEGER DEFAULT 25;
    EXCEPTION WHEN duplicate_column THEN
      -- Column already exists, do nothing
    END;
    
    -- Add last_active timestamp if it doesn't exist
    BEGIN
      ALTER TABLE contractor_profiles ADD COLUMN IF NOT EXISTS last_active TIMESTAMP WITH TIME ZONE;
    EXCEPTION WHEN duplicate_column THEN
      -- Column already exists, do nothing
    END;
    
    -- Update existing service_area field to service_areas array if needed
    -- This helps migrate any existing data
    UPDATE contractor_profiles
    SET service_areas = ARRAY[service_area]
    WHERE service_area IS NOT NULL 
      AND (service_areas IS NULL OR array_length(service_areas, 1) IS NULL);
      
    -- Create or update indexes for the new fields
    CREATE INDEX IF NOT EXISTS idx_contractor_profiles_availability_status 
      ON contractor_profiles(availability_status);
    
    CREATE INDEX IF NOT EXISTS idx_contractor_profiles_rating 
      ON contractor_profiles(rating);
      
    -- Add GIN index for text array fields for faster search
    -- Fixed: use gin directly for arrays without trgm operator
    CREATE INDEX IF NOT EXISTS idx_contractor_profiles_service_areas 
      ON contractor_profiles USING gin(service_areas);
      
    CREATE INDEX IF NOT EXISTS idx_contractor_profiles_specialties 
      ON contractor_profiles USING gin(specialties);
  ELSE
    RAISE NOTICE 'Table contractor_profiles does not exist. Please run the base migration first.';
  END IF;
END;
$$ LANGUAGE plpgsql;

-- Add extension for GIN indexes with trigram support (if not already added)
CREATE EXTENSION IF NOT EXISTS pg_trgm;

-- Execute the function to add the fields
SELECT add_contractor_discovery_fields();

-- Remove the temporary function
DROP FUNCTION IF EXISTS add_contractor_discovery_fields();

-- Add a function to update last_active timestamp
CREATE OR REPLACE FUNCTION update_contractor_last_active()
RETURNS TRIGGER AS $$
BEGIN
  NEW.last_active = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Create a trigger to update last_active on profile updates
DROP TRIGGER IF EXISTS update_contractor_last_active_trigger ON contractor_profiles;
CREATE TRIGGER update_contractor_last_active_trigger
BEFORE UPDATE ON contractor_profiles
FOR EACH ROW
EXECUTE FUNCTION update_contractor_last_active();

-- Add a function to calculate contractor match score for reports
-- This will be used by the API to find suitable contractors
CREATE OR REPLACE FUNCTION calculate_contractor_match_score(
  p_contractor_id UUID,
  p_report_id UUID
) 
RETURNS DECIMAL AS $$
DECLARE
  v_score DECIMAL(5,2) := 0;
  v_damage_types TEXT[];
  v_property_location RECORD;
  v_contractor_record RECORD;
BEGIN
  -- Get the report and property details
  SELECT 
    array_agg(DISTINCT a.damage_type::TEXT) INTO v_damage_types
  FROM 
    assessment_areas a
  WHERE 
    a.report_id = p_report_id;
    
  SELECT 
    p.city, p.state, p.postal_code
  INTO v_property_location
  FROM 
    reports r
    JOIN properties p ON r.property_id = p.id
  WHERE 
    r.id = p_report_id;
    
  -- Get contractor details
  SELECT 
    cp.specialties,
    cp.service_areas,
    cp.rating,
    cp.years_experience,
    cp.availability_status
  INTO v_contractor_record
  FROM 
    contractor_profiles cp
  WHERE 
    cp.id = p_contractor_id;
    
  -- Base score
  v_score := 50;
  
  -- Adjust score based on specialties match
  IF v_contractor_record.specialties IS NOT NULL AND v_damage_types IS NOT NULL THEN
    SELECT 
      v_score + (10 * COUNT(*) / GREATEST(array_length(v_contractor_record.specialties, 1), 1))
    INTO v_score
    FROM 
      unnest(v_contractor_record.specialties) AS contractor_specialty
    WHERE 
      contractor_specialty = ANY(v_damage_types);
  END IF;
  
  -- Adjust score based on service area match
  IF v_contractor_record.service_areas IS NOT NULL AND 
     v_property_location.city IS NOT NULL AND
     v_property_location.state IS NOT NULL THEN
    
    IF v_property_location.city = ANY(v_contractor_record.service_areas) OR
       v_property_location.state = ANY(v_contractor_record.service_areas) THEN
      v_score := v_score + 15;
    END IF;
  END IF;
  
  -- Adjust score based on rating
  IF v_contractor_record.rating IS NOT NULL THEN
    v_score := v_score + (v_contractor_record.rating * 5);
  END IF;
  
  -- Adjust score based on years of experience
  IF v_contractor_record.years_experience IS NOT NULL THEN
    v_score := v_score + LEAST(v_contractor_record.years_experience, 10) * 2;
  END IF;
  
  -- Penalize if contractor is unavailable
  IF v_contractor_record.availability_status = 'unavailable' THEN
    v_score := v_score - 25;
  ELSIF v_contractor_record.availability_status = 'busy' THEN
    v_score := v_score - 10;
  END IF;
  
  -- Ensure score is between 0 and 100
  RETURN GREATEST(LEAST(v_score, 100), 0);
END;
$$ LANGUAGE plpgsql;
