-- Creating contractor_requests table
-- This implements the fourth part of the contractor integration plan
-- It creates a table to track contractor service requests for reports

-- Drop table if it already exists (for idempotent migrations)
DROP TABLE IF EXISTS contractor_requests CASCADE;

-- Create the contractor_requests table
CREATE TABLE contractor_requests (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  report_id UUID NOT NULL REFERENCES reports(id) ON DELETE CASCADE,
  contractor_id UUID REFERENCES contractor_profiles(id) ON DELETE SET NULL,
  status VARCHAR NOT NULL CHECK (status IN ('open', 'assigned', 'completed', 'cancelled')),
  requested_by UUID NOT NULL REFERENCES users(id),
  requested_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  response_deadline TIMESTAMP WITH TIME ZONE,
  notes TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add indexes for faster querying
CREATE INDEX idx_contractor_requests_report_id ON contractor_requests(report_id);
CREATE INDEX idx_contractor_requests_contractor_id ON contractor_requests(contractor_id);
CREATE INDEX idx_contractor_requests_status ON contractor_requests(status);
CREATE INDEX idx_contractor_requests_requested_by ON contractor_requests(requested_by);
CREATE INDEX idx_contractor_requests_response_deadline ON contractor_requests(response_deadline);

-- Enable Row Level Security
ALTER TABLE contractor_requests ENABLE ROW LEVEL SECURITY;

-- RLS policies for contractor_requests table

-- Report creators can view all requests for their reports
CREATE POLICY "Report creators can view requests"
  ON contractor_requests
  FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM reports r
      JOIN users u ON r.creator_id = u.id
      WHERE r.id = contractor_requests.report_id
        AND u.auth_user_id = auth.uid()
    )
  );

-- Contractors can view requests assigned to them
CREATE POLICY "Contractors can view their requests"
  ON contractor_requests
  FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM contractor_profiles cp
      JOIN profiles p ON cp.id = p.id
      JOIN users u ON p.user_id = u.id
      WHERE cp.id = contractor_requests.contractor_id
        AND u.auth_user_id = auth.uid()
    )
  );

-- Report collaborators can view requests
CREATE POLICY "Report collaborators can view requests"
  ON contractor_requests
  FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM report_collaborators rc
      JOIN users u ON rc.user_id = u.id
      WHERE rc.report_id = contractor_requests.report_id
        AND u.auth_user_id = auth.uid()
        AND rc.invitation_status = 'accepted'
        AND rc.permission_level IN ('editor', 'manager')
    )
  );

-- Report creators and collaborators with manager permission can create requests
CREATE POLICY "Report owners can create requests"
  ON contractor_requests
  FOR INSERT
  WITH CHECK (
    -- Report creator
    EXISTS (
      SELECT 1 FROM reports r
      JOIN users u ON r.creator_id = u.id
      WHERE r.id = contractor_requests.report_id
        AND u.auth_user_id = auth.uid()
    )
    OR
    -- Report manager
    EXISTS (
      SELECT 1 FROM report_collaborators rc
      JOIN users u ON rc.user_id = u.id
      WHERE rc.report_id = contractor_requests.report_id
        AND u.auth_user_id = auth.uid()
        AND rc.invitation_status = 'accepted'
        AND rc.permission_level = 'manager'
    )
  );

-- Report creators and collaborators with manager permission can update requests
CREATE POLICY "Report owners can update requests"
  ON contractor_requests
  FOR UPDATE
  USING (
    -- Report creator
    EXISTS (
      SELECT 1 FROM reports r
      JOIN users u ON r.creator_id = u.id
      WHERE r.id = contractor_requests.report_id
        AND u.auth_user_id = auth.uid()
    )
    OR
    -- Report manager
    EXISTS (
      SELECT 1 FROM report_collaborators rc
      JOIN users u ON rc.user_id = u.id
      WHERE rc.report_id = contractor_requests.report_id
        AND u.auth_user_id = auth.uid()
        AND rc.invitation_status = 'accepted'
        AND rc.permission_level = 'manager'
    )
  );

-- Contractors can update requests assigned to them
CREATE POLICY "Contractors can update their requests"
  ON contractor_requests
  FOR UPDATE
  USING (
    EXISTS (
      SELECT 1 FROM contractor_profiles cp
      JOIN profiles p ON cp.id = p.id
      JOIN users u ON p.user_id = u.id
      WHERE cp.id = contractor_requests.contractor_id
        AND u.auth_user_id = auth.uid()
    )
  );

-- Report creators and managers can delete requests
CREATE POLICY "Report owners can delete requests"
  ON contractor_requests
  FOR DELETE
  USING (
    -- Report creator
    EXISTS (
      SELECT 1 FROM reports r
      JOIN users u ON r.creator_id = u.id
      WHERE r.id = contractor_requests.report_id
        AND u.auth_user_id = auth.uid()
    )
    OR
    -- Report manager
    EXISTS (
      SELECT 1 FROM report_collaborators rc
      JOIN users u ON rc.user_id = u.id
      WHERE rc.report_id = contractor_requests.report_id
        AND u.auth_user_id = auth.uid()
        AND rc.invitation_status = 'accepted'
        AND rc.permission_level = 'manager'
    )
  );

-- Create a trigger function to update the updated_at timestamp
CREATE OR REPLACE FUNCTION update_contractor_requests_updated_at()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Create trigger to update timestamp on row updates
CREATE TRIGGER update_contractor_requests_updated_at
BEFORE UPDATE ON contractor_requests
FOR EACH ROW
EXECUTE FUNCTION update_contractor_requests_updated_at();

-- Create a function to assign a contractor to a report
CREATE OR REPLACE FUNCTION assign_contractor_to_report(
  p_request_id UUID,
  p_contractor_id UUID
)
RETURNS BOOLEAN AS $$
DECLARE
  v_report_id UUID;
BEGIN
  -- Get the report ID from the request
  SELECT report_id INTO v_report_id 
  FROM contractor_requests 
  WHERE id = p_request_id;
  
  -- Update the request status
  UPDATE contractor_requests
  SET status = 'assigned', 
      contractor_id = p_contractor_id,
      updated_at = NOW()
  WHERE id = p_request_id;
  
  -- Update the report to assign the contractor
  UPDATE reports
  SET contractor_id = p_contractor_id,
      updated_at = NOW()
  WHERE id = v_report_id;
  
  -- Create a notification for the contractor
  INSERT INTO notifications (
    user_id,
    title,
    message,
    notification_type,
    related_id
  )
  SELECT
    u.id,
    'New Report Assignment',
    'You have been assigned to a new property report',
    'assignment',
    v_report_id
  FROM contractor_profiles cp
  JOIN profiles p ON cp.id = p.id
  JOIN users u ON p.user_id = u.id
  WHERE cp.id = p_contractor_id;
  
  -- Create a notification for the report creator
  INSERT INTO notifications (
    user_id,
    title,
    message,
    notification_type,
    related_id
  )
  SELECT
    r.creator_id,
    'Contractor Assigned',
    'A contractor has been assigned to your report',
    'assignment',
    r.id
  FROM reports r
  WHERE r.id = v_report_id;
  
  -- Create an activity record
  INSERT INTO activities (
    user_id,
    report_id,
    activity_type,
    details
  )
  SELECT
    u.id,
    v_report_id,
    'contractor_assigned',
    json_build_object('contractor_id', p_contractor_id)
  FROM users u
  WHERE u.auth_user_id = auth.uid();
  
  RETURN TRUE;
END;
$$ LANGUAGE plpgsql;

-- Create a function to find available contractors for a report
CREATE OR REPLACE FUNCTION find_available_contractors(
  p_report_id UUID,
  p_limit INTEGER DEFAULT 10,
  p_min_rating DECIMAL DEFAULT 0
)
RETURNS TABLE (
  contractor_id UUID,
  contractor_name TEXT,
  company_name TEXT,
  service_areas TEXT[],
  specialties TEXT[],
  years_experience INTEGER,
  rating DECIMAL,
  availability_status VARCHAR,
  match_score DECIMAL
) AS $$
DECLARE
  v_damage_types TEXT[];
  v_property_location RECORD;
BEGIN
  -- Get the report damage types
  SELECT 
    array_agg(DISTINCT a.damage_type::TEXT) INTO v_damage_types
  FROM 
    assessment_areas a
  WHERE 
    a.report_id = p_report_id;
    
  -- Get the property location
  SELECT 
    p.city, p.state, p.postal_code
  INTO v_property_location
  FROM 
    reports r
    JOIN properties p ON r.property_id = p.id
  WHERE 
    r.id = p_report_id;
    
  -- Find matching contractors
  RETURN QUERY
  SELECT 
    cp.id AS contractor_id,
    (u.first_name || ' ' || u.last_name) AS contractor_name,
    cp.company_name,
    cp.service_areas,
    cp.specialties,
    cp.years_experience,
    cp.rating,
    cp.availability_status,
    calculate_contractor_match_score(cp.id, p_report_id) AS match_score
  FROM 
    contractor_profiles cp
    JOIN profiles p ON cp.id = p.id
    JOIN users u ON p.user_id = u.id
  WHERE
    cp.rating >= p_min_rating
    AND (
      -- Filter by available status, unless there's no contractors
      cp.availability_status != 'unavailable'
      OR NOT EXISTS (
        SELECT 1 FROM contractor_profiles 
        WHERE availability_status != 'unavailable'
      )
    )
    AND (
      -- At least one specialty matches if we have specialties
      cp.specialties IS NULL 
      OR v_damage_types IS NULL
      OR EXISTS (
        SELECT 1 
        FROM unnest(cp.specialties) specialty
        WHERE specialty = ANY(v_damage_types)
      )
    )
  ORDER BY
    match_score DESC,
    cp.rating DESC
  LIMIT p_limit;
END;
$$ LANGUAGE plpgsql;
